header h1{
	display: inline;
	color: white;
	font-size: 15px;
	text-align: center;
}

.space{
	color: black;
}

header{
	background-color: black;
}

body{
	color: white;
	background-color: black;
	margin: 0;
}

.harry{
	height: 300px;
	width: 240px;
	float: center;
	padding: 10px 30px;
	border-radius: 175px;
}

.universal{
	height: 300px;
	border-radius: 300px;
	width: 400px;
	float: center;
	padding: 10px 30px;
	
}

.celly{
	float: center;
	padding: 10px 30px;
	border-radius: 210.5px;
	width: 421px;
	height: 300px;
}

.center{
	text-align: center;
}

.caption{
	display: inline;
	padding: 0px 55px;
}

.caption.space{
	padding: 0px 15px;
}

.gps{
	width: 700px;
	height: 564px;
	align-self: center;
	border-radius: 282px
}