header h1{
	display: inline;
	color: white;
	font-size: 25px;
}

.space{
	color: black;
}

header{
	background-color: black;
}

body{
	color: white;
	background-color: black;
	margin: 0;
}

.harry{
	height: 300px;
	border-radius: 120px;
	width: 240px;
	float: left;
	padding: 32px;
	
}

.universal{
	height: 300px;
	border-radius: 200px;
	width: 400px;
	float: center;
	padding: 32px;
	
}

.celly{
	float: right;
	padding: 32px;
	border-radius: 210.5px;
	width: 421px;
	height: 300px;
	
}

